<div class="col-md-3 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-6">
    <div class="form-row mb-2">
        <div class="col-2 h3">
          Płatności
        </div>
    </div>
  <table class="table table-bordered table-hover ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nr operacji</th>
        <th scope="col">Email</th>
        <th scope="col">Kwota</th>
        <th scope="col">Status</th>
        <th scope="col">Sygnatura</th>
        <th scope="col">Opis</th>
      </tr>
    </thead>
  <% @payment_provider_operations.each do |payment_provider_operation| %>
    <tbody>
      <tr>
        <td><%= payment_provider_operation.operation_number %></td>
        <td><%= payment_provider_operation.email %></td>
        <td><%= payment_provider_operation.operation_amount %></td>
        <td><%= payment_provider_operation.operation_status %></td>
        <td><%= payment_provider_operation.signature %></td>
        <td><%= payment_provider_operation.description %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
    <%= paginate @payment_provider_operations %>
</div>



