<h2>Oferty</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nr Lotu</th>
        <th scope="col">Wylot</th>
        <th scope="col">Przylot</th>
        <th scope="col">Data</th>
        <th scope="col">Godz.wylotu</th>
        <th scope="col">Godz.przylotu</th>
        <th scope="col">Klasa ekonomiczna</th>
        <th scope="col">Klasa biznesowa</th>
      </tr>
    </thead>
  <% @results.each do |flight| %>
    <tbody>
      <tr>
        <th scope="row"><%= flight.flight_number %></th>
        <td><%= flight.departure_airport.name %></td>
        <td><%= flight.arrival_airport.name%></td>
        <td><%= flight.departure_date %></td>
        <td><%= flight.departure_time.strftime("%H:%M") %></td>
        <td><%= flight.arrival_time.strftime("%H:%M") %></td>

        <td>
          <% if params[:passengers].to_i <= flight.economy_free_seats %>
            <%= form_tag("/selected_economy_flight", method: :get) do %>
              <form>
                <%= hidden_field_tag :passengers, params[:passengers] %>
                <%= hidden_field_tag :flight_id, flight.id %>
                <div class="form-btn">
                  <button class="btn btn-info"><%= currency_formatter(flight.economy_price) %></button>
                </div>
              </form>
            <% end %>
            <% if flight.economy_free_seats <= 4 %>
              <p class='text-danger'><b>Tylko <%= flight.economy_free_seats %> miejsca</b></p>
            <% end %>
          <% else %>
            Brak
          <% end %>
        </td>
        <td>
          <% if params[:passengers].to_i <= flight.business_free_seats %>
            <%= form_tag("/selected_business_flight", method: :get) do %>
              <form>
                <%= hidden_field_tag :passengers, params[:passengers] %>
                <%= hidden_field_tag :flight_id, flight.id %>
                <div class="form-btn">
                  <button class="btn btn-warning"><%= currency_formatter(flight.business_price) %></button>
                </div>
              </form>
            <% end %>
            <% if flight.business_free_seats <= 4 %>
              <p class='text-danger'><b>Tylko <%= flight.business_free_seats %> miejsca</b></p>
            <% end %>
          <% else %>
            Brak
          <% end %>
        </td>
      </tr>
    </tbody>
      <% end %>
  </table>