<div class="col-md-1 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-10">
    <div class="form-row mb-2">
        <div class="col-1 h3">
          Loty
        </div>
        <div class="col-11 text-right">
          <%= link_to 'Dodaj lot', new_flight_path, class: 'btn btn-dark' %>
        </div>
    </div>

  <%= render 'filter_flights_form', flight: @flight %>

  <table class="table table-hover ">
    <thead class="thead-dark">
      <tr>
        <th>Nr Lotu</th>
        <th>Wylot</th>
        <th>Przylot</th>
        <th>Data wylotu</th>
        <th>Godz.wylotu</th>
        <th>Godz.przylotu</th>
        <th>Cena ekonomiczna</th>
        <th>Cena biznes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  <% @flights.each do |flight| %>
    <tbody>
      <tr>
        <th scope="row"><%= flight.flight_number %></th>
        <td><%= flight.departure_airport.name %></td>
        <td><%= flight.arrival_airport.name %></td>
        <td><%= flight.departure_date %></td>
        <td><%= time_formatter(flight.departure_time) %></td>
        <td><%= time_formatter(flight.arrival_time) %></td>
        <td><%= flight.economy_price %></td>
        <td><%= flight.business_price %></td>
        <td><%= link_to 'Bilety', tickets_list_path(flight.id), class: 'btn btn-dark' %></td>
        <td><%= link_to edit_flight_path(flight.id), class:"text-dark" do %>  
              <%= fa_icon "edit" %>
            <% end %>
            <%= link_to flight_path(flight.id), class:"text-dark" do %>  
              <%= fa_icon "sticky-note" %>
            <% end %>
            <%= link_to flight_path(flight.id), method: :delete, data: { confirm: 'Czy jesteś pewien?' }, class:"text-danger" do %> 
              <%= fa_icon "trash" %>
            <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @flights %>
</div>