<div class="col-12">
  <h2><%= @flight.flight_number %></h2>
</div>
<div class="col-6">
  <p>Wylot: <%= @flight.departure_airport.name %></p>
  <p>Przylot: <%= @flight.arrival_airport.name %></p>
  <p>Data: <%= @flight.departure_date %></p>
  <p>Godz.wylotu: <%= time_formatter(@flight.departure_time) %></p>
  <p>Godz.przylotu: <%= time_formatter(@flight.arrival_time) %></p>
  <p>Numer lotu: <%= @flight.flight_number %></p>
  <p>Samolot: <%= @flight.airplane.model %></p>
  <p>Liczba miejsc: <%= @flight.seats %></p>
  <p>Cena: <%= @flight.price %></p>
</div>