<div class="col-md-1 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-4">
    <p class="h3 mb-4 font-weight-bold">Rezerwacja <%= @booking.pnr %> zakończona sukcesem!</p>
    <div class="row text-left">
        <div class="col-sm-5">
          <span class="form-label"><%= fa_icon "plane-departure" %> Wylot</span>
        </div>
        <div class="col-sm-6">
          <span class="form-label"><%= @booking.flight.departure_airport.name %></span>
        </div>
        <div class="col-sm-5">
          <span class="form-label"><%= fa_icon "plane-arrival" %> Przylot</span>
        </div>
        <div class="col-sm-6">
          <span class="form-label"><%= @booking.flight.arrival_airport.name %></span>
        </div>        

        <div class="col-sm-5">
          <span class="form-label"><%= fa_icon "calendar" %> Data wylotu</span>
        </div>
        <div class="col-sm-6">
          <span class="form-label"><%= @booking.flight.departure_date %></span>
        </div>

        <div class="col-sm-5">
          <span class="form-label"><%= fa_icon "clock" %> Godzina wylotu</span>
        </div>
        <div class="col-sm-6">
          <span class="form-label"><%= time_formatter(@booking.flight.departure_time) %></span>
        </div>

        <div class="col-sm-5">
          <span class="form-label"><%= fa_icon "clock" %> Godzina przylotu</span>
        </div>
        <div class="col-sm-6">
          <span class="form-label"><%= time_formatter(@booking.flight.arrival_time) %></span>
        </div>

        <div class="col-sm-5">
          <span class="form-label"><%= fa_icon "user" %> Liczba pasażerów</span>
        </div>
        <div class="col-sm-6">
          <span class="form-label"><%= @booking.passengers %></span>
        </div>

        <div class="col-sm-5">
          <span class="form-label"><%= fa_icon "coins" %> Cena całkowita</span>
        </div>
        <div class="col-sm-6">
          <span class="form-label"><%= currency_formatter(@booking.total_price) %></span>
        </div>
            <%= link_to 'Powrót do strony głównej', bookings_path, class: 'btn btn-info text-center' %>
    </div>
</div>