<div class="col-md-2 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-8">
    <div class="form-row mb-2">
        <div class="col-4 h3">
          Moje Rezerwacje
        </div>
    </div>

  <table class="table table-hover ">
    <thead class="thead-dark">
      <tr>
        <th>PNR</th>
        <th>Pasażerowie</th>
        <th>Cena</th>
        <th>Wylot</th>
        <th>Przylot</th>
        <th>Data</th>
        <th>Nr Lotu</th>
        <th>Klasa</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  <% @bookings.each do |booking| %>
    <tbody>
      <tr>
        <td><%= booking.pnr %></td>
        <td><%= booking.passengers %></td>
        <td><%= booking.total_price %></td>
        <td><%= booking.flight.try(:departure_airport).try(:name) %></td>
        <td><%= booking.flight.try(:arrival_airport).try(:name) %></td>
        <td><%= booking.flight.try(:departure_date) %></td>
        <td><%= booking.flight.try(:flight_number) %></td>
        <td><%= booking.try(:booking_class) %></td>        
        <td><%= booking.status %></td>
        <td>
          <%= link_to get_user_booking_details_path(booking.id), class:"text-dark" do %>  
              <%= fa_icon "sticky-note" %>
          <% end %>
        </td>
        <% if booking.status == "Potwierdzona" %>
        <td><%= link_to "Anuluj rezerwację", cancel_booking_path(booking.id),data: { confirm: 'Czy jesteś pewien?' }, class:"btn btn-danger" %>  
        </td>
        <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @bookings %>
</div>