<%= search_form_for @q do |f| %>
  <div class="form-row mb-4">
    <div class="col">
      Klasa ekonomiczna
    </div>
    <div class="col">
      <%= f.search_field :economy_seats_gteq, class:"form-control", placeholder:"Od" %>
    </div>
    <div class="col">
      <%= f.search_field :economy_seats_lteq, class:"form-control", placeholder:"Do" %> 
    </div>
    <div class="col">
      Klasa biznesowa
    </div>
    <div class="col">
      <%= f.search_field :business_seats_gteq, class:"form-control", placeholder:"Od" %>
    </div>
    <div class="col">
      <%= f.search_field :business_seats_lteq, class:"form-control", placeholder:"Do" %> 
    </div>
    <div class="col text-right">
      <%= f.submit 'Filtruj', class:"btn btn-dark" %>
    </div>
  </div>
<% end %>