<div class="col-md-2 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5">
    <div class="form-row mb-2">
        <div class="col-2 h3">
          Samoloty
        </div>
        <div class="col-10 text-right">
          <%= link_to 'Dodaj samolot', new_airplane_path, class: 'btn btn-dark' %>
        </div>
    </div>
  <table class="table table-bordered table-hover ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Model</th>
        <th scope="col">Miejsca kl.ekonomicznej</th>
        <th scope="col">Miejsca kl.biznesowej</th>
        <th scope="col"></th>
      </tr>
    </thead>
  <% @airplanes.each do |airplane| %>
    <tbody>
      <tr>
        <th scope="row"><%= airplane.id %></th>
        <td><%= airplane.model %></td>
        <td><%= airplane.economy_seats %></td>
        <td><%= airplane.business_seats %></td>
        <td>
          <%= link_to edit_airplane_path(airplane.id), class:"text-dark" do %>  
            <%= fa_icon "edit" %>
          <% end %>
          <%= link_to airplane_path(airplane.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger" do %> 
            <%= fa_icon "trash" %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>



