<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" id="navbar" href="/admin">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <% if current_user.airline_manager_role || current_user.superadmin_role %>
          <li>
            <li class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle <%= "active" if current_page?(airports_path) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lotniska
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/airports">Lista lotnisk</a>
              <a class="dropdown-item" href="/admin/airports/new">Dodaj lotnisko</a>
            </div>
          </li>
        <% end %>
        <% if current_user.airline_manager_role || current_user.superadmin_role %>
          <li>
            <li class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle <%= "active" if current_page?(airplanes_path) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Samoloty
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/airplanes">Lista samolotów</a>
              <a class="dropdown-item" href="/admin/airplanes/new">Dodaj samolot</a>
            </div>
          </li>
        <% end %>
        <% if current_user.airline_manager_role || current_user.superadmin_role %>
          <li>
            <li class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle <%= "active" if current_page?(flights_path) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Loty
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/flights">Lista lotów</a>
              <a class="dropdown-item" href="/admin/flights/new">Dodaj lot</a>
            </div>
          </li>
        <% end %>
        <% if current_user.airline_manager_role || current_user.superadmin_role %>
          <li>
            <li class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle <%= "active" if current_page?(bookings_path) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rezerwacje
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/bookings">Lista rezerwacji</a>
            </div>
          </li>
        <% end %>
        <% if current_user.airline_manager_role || current_user.superadmin_role %>
          <li>
            <li class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle <%= "active" if current_page?(transfers_path) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Transakcje
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/transfers">Lista transakcji</a>
            </div>
          </li>
        <% end %>
        <% if current_user.airline_manager_role || current_user.superadmin_role %>
          <li>
            <li class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle <%= "active" if current_page?(bookings_path) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Płatności
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/payment_provider_operations">Lista płatności</a>
            </div>
          </li>
        <% end %>
        <% if current_user.superadmin_role %>
          <li>
            <li class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle <%= "active" if current_page?(users_path) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Użytkownicy
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/users">Lista użytkowników</a>
              <a class="dropdown-item" href="/admin/users/new">Dodaj użytkownika</a>
            </div>
          </li>
        <% end %>
        <% if current_user.airport_manager_role %>
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-item nav-link <%= "active" if current_page?(bookings_path) %>" href="/admin/flights/departure_flights">Wyloty</a>
        </li>
        <li>
          <a class="nav-item nav-link <%= "active" if current_page?(transfers_path) %>" href="/admin/flights/arrival_flights">Przyloty</a>
        </li>

      </ul>
      <% end %>
      </ul>
     </div>
     <% if (current_user.present?) %>
     <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default">
          <a class="dropdown-item text-left" href="/">Aplikacja klienta</a>
          <a class="dropdown-item text-center" href=""><%= admin_login_helper %></a>
        </div>
      </li>
     </ul>
    <% end %>
</nav>