<div class="col-md-7 col-md-push-5">
  <div class="booking-cta">
    <h1>Wyszukaj lot</h1>
    <p>Znajdź swój wymarzony lot z naszą aplikacją
    </p>
  </div>
</div>

<div class="col-md-4 col-md-pull-7">
  <div class="booking-form">
    <%= form_tag("/availability", method: :get) do %>
    <form>
      <div class="form-group">
        <span class="form-label"><%= fa_icon "plane" %> Wylot</span>
        <%= select_tag(:departure_airport_id, 
                   options_for_select(@airports_list, params[:departure_airport_id]), class: 'btn btn-dark') %>
      </div>
      <div class="form-group">
        <span class="form-label"><%= fa_icon "plane" %> Przylot</span>
        <%= select_tag(:arrival_airport_id, 
            options_for_select(@airports_list, params[:arrival_airport_id]), class: 'btn btn-dark') %>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <span class="form-label"><%= fa_icon "calendar" %> Data wylotu</span>
            <%= date_field_tag(:departure_date,nil, value: Time.now.strftime('%Y-%m-%d'), min: Time.now.strftime('%Y-%m-%d'), class: 'form-control bg-dark text-white', required: true) %>
          </div>
        </div>

      <div class="col-sm-5">
        <div class="form-group">
            <span class="form-label"><%= fa_icon "user" %> Ilość</span>
        <%= select_tag(:passengers, 
                   options_for_select([1,2,3,4]), class: 'btn btn-dark') %>
      </div>
      <div class="form-btn">
        <button class="btn btn-dark my-4 btn-block">Szukaj</button>
      </div>
    </form>
  </div>
  <% end %>
</div>