<%= search_form_for @q do |f| %>
    <%= f.label :wylot %>
    <%= f.search_field :departure_airport_name_cont %> 
    <%= f.label :przylot %>
    <%= f.search_field :arrival_airport_name_cont %> 
    <p></p>
    <%= f.label :cena_od %>
    <%= f.search_field :price_gt %>
    <%= f.label :cena_do %>
    <%= f.search_field :price_lt %>
    <%= f.submit %>
<% end %>