<h1>Potwierdzenie rezerwacji <%= @booking.pnr %></h1>

<h3>Szczegóły Twojego lotu</h3>
<p><strong>Numer lotu </strong><%= @booking.flight_number %></p>
<p><strong>Wylot </strong><%= @booking.departure_airport %></p>
<p><strong>Przylot </strong><%= @booking.arrival_airport %></p>
<p><strong>Data wylotu </strong><%= @booking.departure_date %></p>
<p><strong>Godzina wylotu </strong><%= @booking.departure_time %></p>
<p><strong>Godzina przylotu </strong><%= @booking.arrival_time %></p>
<p><strong>Cena </strong><%= @booking.total_price %></p>