<div class="col-md-2 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-8">
        <p class="h3 mb-4 col-2">Bilety</p>
          <%= render 'filter_tickets_form', transfer: @transfer %>
    <table class="table table-hover ">
      <thead class="thead-dark">
      <tr>
        <th>Nr Rezerwacji</th>       
        <th>Nr Lotu</th>
        <th>Wylot</th>
        <th>Przylot</th>
        <th>Data</th>
        <th>Godz.wylotu</th>
        <th>Godz.przylotu</th>
        <th>Miejsce</th>
        <th>Cena</th>
        <th>Imię</th>
        <th>Nazwisko</th>
      </tr>
    </thead>
  <% @tickets.each do |ticket| %>
    <tbody>
      <tr>
        <td><%= ticket.pnr %></td>
        <td><%= ticket.flight_number %></td>
        <td><%= ticket.departure_airport_name %></td>
        <td><%= ticket.arrival_airport_name %></td>
        <td><%= ticket.departure_date %></td>
        <td><%= time_formatter(ticket.departure_time) %></td>
        <td><%= time_formatter(ticket.arrival_time) %></td>
        <td><%= ticket.seat %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.first_name %></td>
        <td><%= ticket.last_name %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @tickets %>
</div>