<div class="col-md-3 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-6">
    <div class="form-row mb-2">
        <div class="col-2 h3">
          Lotniska
        </div>
        <div class="col-10 text-right">
          <%= link_to 'Dodaj lotnisko', new_airport_path, class: 'btn btn-dark' %>
        </div>
    </div>

  <%= render 'filter_airports_form', flight: @flight %>

  <table class="table table-hover ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Miasto</th>
        <th scope="col">Kraj</th>
        <th scope="col w-50">Nazwa</th>
        <th scope="col">Kod IATA</th>
        <th scope="col"></th>
      </tr>
    </thead>
  <% @airports.each do |airport| %>
    <tbody>
      <tr>
        <th scope="row"><%= airport.id %></th>
        <td><%= airport.city %></td>
        <td><%= airport.country %></td>
        <td><%= airport.name %></td>
        <td><%= airport.iata %></td>
        <td>
          <%= link_to edit_airport_path(airport.id), class:"text-dark" do %>  
            <%= fa_icon "edit" %>
          <% end %>
          <%= link_to airport_path(airport.id), method: :delete, data: { confirm: 'Czy jesteś pewien?' }, class:"text-danger" do %> 
            <%= fa_icon "trash" %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @airports %>
</div>