<div class="col-12">
  <h2><%= @airport.name %></h2>
</div>
<div class="col-6">
  <p>Miasto: <%= @airport.city %></p>
  <p>Kraj: <%= @airport.country %></p>
  <p>Nazwa: <%= @airport.name %></p>
  <p>Iata: <%= @airport.iata %></p>
  <p>Strefa czasowa: <%= @airport.timezone %></p>
</div>
<div class="col-6">
  <iframe src="<%= maps_generator %> width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>