<div class="col-md-2 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-8">
    <div class="form-row mb-2">
        <div class="col h3 text-right">
          Moje transakcje
        </div>
        <div class="col text-right">
          <%= link_to 'Dodaj środki', new_transfer_path, class: 'btn btn-dark' %>
        </div>
    </div>

  <%= render 'filter_user_transfers_form', transfer: @transfer %>

  <table class="table table-hover ">
    <thead class="thead-dark">
        <th scope="col">Data</th>
        <th scope="col">Id</th>
        <th scope="col">Kwota</th>
        <th scope="col">Typ</th>
        <th scope="col">Tytuł</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
  <% @transfers.each do |transfer| %>
    <% if transfer.confirmed %>
      <tbody>
        <tr>
          <td class="green"><%= date_formatter(transfer.created_at) %></td>
          <td class="green"><%= transfer.id %></td>
          <% if transfer.kind == "Zakup biletu"%>
            <td class="green">-<%= transfer.amount %></td>
              <% else %>
            <td class="green"><%= transfer.amount %></td>
            <% end %>
          <td class="green"><%= transfer.kind %></td>
          <td class="green"><%= transfer.title %></td>
          <td class="green"><%= "Potwierdzona" %></td>
        </tr>
      </tbody>
    <% else %>
      <tbody>
        <tr>
          <td class="red"><%= date_formatter(transfer.created_at) %></td>
          <td class="red"><%= transfer.id %></td>
          <% if transfer.kind == "Zakup biletu"%>
            <td class="red">-<%= transfer.amount %></td>
              <% else %>
            <td class="red"><%= transfer.amount %></td>
            <% end %>
          <td class="red"><%= transfer.kind %></td>
          <td class="red font-weight-bold"><%= transfer.title %></td>
          <td class="red"><%= "Niepotwierdzona" %></td>
        </tr>
      </tbody>
    <% end %>   
  <% end %>
  </table>
  <%= paginate @transfers %>
</div>