<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <%= csrf_meta_tag %>
    <title>FlightsApp</title>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="page-container">
      <%= render 'shared/admin_nav' %>
      <div id="content-wrap">
        <div class="row margin-top-bottom">
          <%= yield %>
        </div>
        <%= render 'shared/alerts' %>
      </div>
      <footer id="footer">
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>



