<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlightsApp</title>
    <%= csrf_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>
    <%= stylesheet_link_tag    'airports', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header><div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">FlightsApp</h3>
              <%= render 'shared/admin_nav' %>
            </div>
          </div>
        </header>
        <main>
          <div class="row centros">
          <%= yield %>
        </div>
      </main>
        <footer>
                    <%= render 'shared/application_footer' %>
                    </footer>


        </div>
      </div>
  </div>
  </body>
  </html>