<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>FlightApp</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <title>FlightsApp</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'start_page', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'shared/booking_nav' %>
 <main role="main">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row margin-top">

          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render 'shared/footer' %>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>